@page
@model WebApplication2.Pages.IndexModel
@{
}
<html>
<body>
    <h1>Cerea</h1>
    <p> Vai alla pagina di <a href="/Risposta">risposta</a></p>
    <form action="/Risposta" method="get">
        <label>Nome:</label>
        <input type="text" name="nome" />
        <label>Cognome:</label>
        <input type="text" name="cognome" />
        <input type="submit" />
    </form>
    <p> Vai alla pagina di <a href="/Query">query</a></p>
</body>
</html>